.myDiv {
    border: 1px outset #404040;
    background-color: #E6E6FA;
    text-align: center;
    width: max-content;
    height: max-content;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    padding-top:15px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-right: 35px;
  }

  .myDiv2 {
    border: 5px outset blue;
    width: max-content;
    height: max-content;
    border-style: solid;
    position: absolute;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-right: 35px;
    padding-left: 30px;
  }
   .fdiv {
       background-color: white;
    margin-left:5px;
     position: absolute;
    width: 120px;
    border: 1px outset #404040;
    text-align: center;}

  .input1{
      float: left;
      margin-left:5px;
  }
  td, textarea{
      text-align: left;
  }
  .textar{
    align-content:left;
    text-align: left !important;
  }
  .txt{
      font-weight: bold;
  }

  .txt1{
    padding-right: 70px;
    padding-top: 10px;
   }
  .sp{
      color: lightpink;
      font-weight: bold;
      padding-left: 3px;
  }

  .h1{
      color:blue;
      text-align: left;
  }

  .btns{
      width: 287px;
  }